/* Number input */

.quantity {
  position: relative;
}

/* .quantity input::-webkit-inner-spin-button,
.quantity input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

form.quantity__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.quantity input {
  -moz-appearance: textfield;
  width: 3.5rem;
  height: 2rem;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
  font-size: 1rem;
  border-radius: 4px;
}

/* .quantity input:focus {
  outline: 0;
}

.quantity__nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity__button {
  position: relative;
  cursor: pointer;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  width: 21px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: 'FontAwesome' !important;
  line-height: 1.5;
  padding: 0;
  background: #fafafa;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity__button:active {
  background: #eaeaea;
}

.quantity__button.quantity__up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  font-family: 'FontAwesome';
  border-radius: 0 4px 0 0;
  line-height: 1.6;
}

.quantity__button.quantity__down {
  position: absolute;
  bottom: 0;
  height: 50%;
  font-family: 'FontAwesome';
  border-radius: 0 0 4px 0;
} */
