:root {
  --color-primary-100: hsl(350, 85%, 92%);
  --color-primary-400: hsl(352, 78%, 56%);
  --color-primary-600: hsl(352, 78%, 60%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
