.topnav {
  padding: 1rem 0;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

.topnav__wrap {
  max-width: 76rem;
  padding: 0 1rem;
  margin: 0 auto;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.topnav__wrap .cart__details {
  display: flex;
  align-items: center;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 18%);
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.section__cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  border-top: 2px solid #eaeaea;
  margin-top: 1rem;
  padding: 1rem 0;
  width: 50vw;
}

.section__cart > * {
  display: inline-block;
  margin: 0.5rem 0;
  /* flex: 1 1 5rem; */
}

.section__cart button {
  margin-top: 0;
}

.cart__qty {
  display: inline-block;
  width: 4ch;
}

.cart__value {
  display: inline-block;
  width: 8ch;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80rem;
  margin-top: 3rem;
  list-style: none;
}

.card {
  margin: 1rem;
  flex-basis: calc(50% - 2rem);
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card p {
  padding-bottom: 1.5rem;
}

.card button {
  margin-top: auto;
  align-self: flex-start;
}

@media (min-width: 60rem) {
  .card {
    flex-basis: calc(33% - 2rem);
  }
}

.card img {
  margin-bottom: 1.5rem;
  max-width: 100%;
}

.button_primary {
  background-color: var(--color-primary-400);
  color: #ffffff;
  border: 2px solid var(--color-primary-400);
  padding: 0.75em 1.8em;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 0.3em;
  transition: background-color 0.3s ease-out;
  will-change: background-color;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3);
}

.button_primary:hover {
  background-color: var(--color-primary-600);
  cursor: pointer;
}

.button_primary:focus {
  outline-color: var(--color-primary-400);
  outline-offset: 4px;
}

.button_primary:active {
  transition: all 0s ease-out;
  background-color: var(--color-primary-100);
  /* background-color: transparent; */
  border-color: transparent;
  cursor: pointer;
  color: inherit;
  outline-color: var(--color-primary-400);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.button_secondary {
  background-color: #ffffff;
  color: #ffffff;
  border: 2px solid var(--color-primary-400);
  padding: 0.75em 1.8em;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 0.3em;
  transition: all 0.3s ease-out;
  color: inherit;
}

.button_secondary:hover {
  background-color: var(--color-primary-600);
  cursor: pointer;
  color: #ffffff;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3);
}

.button_secondary:active {
  transition: all 0s ease-out;
}

.button_secondary:focus {
  transition: all 0s ease-out;
  outline-color: #a5a5a7;
  outline-offset: 4px;
}

/* .card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
} */

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
